@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&family=Roboto+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-aura-bg: #BDDDFC;
  --color-aura-primary: #88BDF2;
  --color-aura-slate: #6A89A7;
  --color-aura-dark: #384959;
  --color-aura-danger: #CD1C18;
  
  --font-sans: "Outfit", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

body {
  @apply bg-aura-bg text-aura-dark font-sans min-h-screen;

.preserve-3d {
  perspective: 1000px;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
}

